.celu {
  width: 360px;
  height: 560px;
}
.check{
  display: none;
}
input {
  cursor: pointer;
}

input:checked{
 display: none;
}

input:checked + .check {
 display: inline-block;
 position: absolute;
 right: 0;
 margin-right: .5rem;
}
label {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}


.formGroupRadios {
 display: flex;
 flex-direction: column;
 color: #fff;
 
}

.form-check-label {
  padding-left: 3px;
}
.caracters{
 width: 100px;
}

.formJuegoDos{
  text-align: center;
  height: 120px;
}
.botoncito{
    width: auto;
    cursor: pointer;
    color: #ef4565;
    background-color: transparent;
    padding: .4rem;
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 1rem;
    margin: .3rem;
}
